[Unit]
Description=Gunicorn instance to serve frontend service of MYSpace
After=network.target

[Service]
User=ubuntu
Group=root
WorkingDirectory=/home/ubuntu/repo
Environment="/home/ubuntu/venvs/frontend-service/bin"
ExecStart=/home/ubuntu/venvs/frontend-service/bin/gunicorn -c config/gunicorn.conf wsgi:app
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target

