<!DOCTYPE html>
<html>
	<head>
		<title>MYSpace</title>
		<link rel="stylesheet" type="text/css" href="/static/home.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="{{url_for('static', filename='nav.js')}}"></script>
		<script src="{{url_for('static', filename='home.js')}}"></script>
	</head>

	<body>
		<h1 id="site_header">Welcome to Moses-Yang Space</h1>

		<ul id="nav_bar">
			<li class="nav"><input id="nav_login" class="nav_btn" type="button" value="Log In"></li>
			<li class="nav"><input id="nav_register" class="nav_btn" type="button" value="Register"></li>
			<li class="nav"><input id="nav_verify" class="nav_btn" type="button" value="Verify"></li>
			<li class="nav"><input id="nav_additem" class="nav_btn" type="button" value="Add Item"></li>
			<li class="nav"><input id="nav_getitem" class="nav_btn" type="button" value="Get Item"></li>
			<li class="nav"><input id="nav_search" class="nav_btn" type="button" value="Search"></li>
			<li class="nav"><input id="nav_logout" class="nav_btn" type="button" value="Log Out"></li>
		</ul>

		<div id="message" style="display: none;">
			<h4 id="msg_header">Message Header</h4>
			<p id="msg_text">Message Text</p>
		</div>

		<!-- Login -->
		<div id="login_div">
			<h2>Log In</h2>
			<form id="login_form">
				Username: <input type="text" name="username" required><br>
				Password: <input type="password" name="password" required><br>
				<input id="login_btn" type="submit" value="Log In">
			</form>
		</div>

		<!-- Register -->
		<div id="register_div" style="display: none;">
			<h2>Register</h2>
			<form id="register_form">
				Username: <input type="text" name="username" required><br>
				Password: <input type="text" name="password" required><br>
				Email: <input type="email" name="email" required><br>
				<input id="register_btn" type="submit" value="Submit">
			</form>
		</div>

		<!-- Verify -->
		<div id="verify_div" style="display: none;">
			<h2>Verify User</h2>
			<form id="verify_form">
				Email: <input type="text" name="email" required><br>
				Key: <input type="text" name="key" required><br>
				<input id="verify_btn" type="submit" value="Submit">
			</form>
		</div>

		<!-- Add Item -->
		<div id="additem_div" style="display: none;">
			<h2>Add Item</h2>
			<form id="additem_form">
				Text: <input type="text" name="content">
				<input id="additem_btn" type="submit" value="Submit">
			</form>
		</div>

		<!-- Get Item -->
		<div id="getitem_div" style="display: none;">
			<h2>Get Item</h2>
			<form id="getitem_form">
				ID: <input type="text" name="uuid">
				<input id="getitem_btn" type="submit" value="Submit">
			</form>
		</div>

		<!-- Search -->
		<div id="search_div" style="display: none;">
			<h2>Search</h2>
			<form id="search_form">
				Timestamp (Unix Time): <input type="text" name="timestamp"><br>
				Limit: <input type="text" name="limit"><br>
				<input id="search_btn" type="submit" value="Submit">
			</form>

			<h4>Search Results</h4>
			<p id="search_text" style="display:none;"></p>
		</div>

	</body>
</html>

